@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  background-image: linear-gradient(
    to bottom right,
    rgb(6, 17, 17),
    rgb(21, 18, 26) 1%,
    black
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  min-height: 700px !important;
  box-shadow: 0px 1px 8px 1px rgb(24, 24, 32);
}

.optigon {
  min-height: 1284px;
  box-shadow: 0px 1px 8px 1px rgb(24, 24, 32);
}

.deqityB {
  min-height: 934px;
  box-shadow: 0px 1px 8px 1px rgb(24, 24, 32);
}

.contactSection {
  min-height: 700px;
  align-items: center;
}
