.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(248, 245, 245);
  position: absolute;
  margin-top: 10rem;
  left: 12.5%;
  max-width: 500px;
}

.info > h1 {
  margin: 0;
  margin-right: auto;
  font-size: 40px;
}

.info > h3 {
  margin: 0;
  margin-right: auto;
  margin-top: -4px;
  margin-bottom: 10px;
  margin-left: 2rem;
  font-weight: 300;
  font-size: 16px;
}

.info > p {
  margin-right: 10px;
}

.contactButton {
  margin-top: 26px;
  margin-right: auto;
  border: 0;
  font-family: inherit;
  font-weight: 600;
  justify-content: center;
  padding: 8px 26px;
  font-size: 16px;
  border-radius: 12px;
  max-width: 150px;
  cursor: pointer;
  -webkit-appearance: none;
}

.contactButton:hover {
  background-color: rgb(209, 209, 209);
}

.scrollInfo {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  margin-bottom: 16px;
}
.scrollInfo > p {
  color: rgb(214, 214, 214);
  font-size: 12px;
  cursor: pointer;
  z-index: inherit;
}
.scrollInfo > img {
  width: 22px;
  cursor: pointer;
  z-index: inherit;
  animation: bounce 0.6s 1s infinite;
}

.chain {
  position: absolute;
  min-height: 700px;
  right: 5%;
  /*opacity: 0.28;*/
  z-index: -2;
  mask-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0.08),
    rgb(0, 0, 0, 0.28)
  );
}

@keyframes bounce {
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY((0px));
  }
}
